header {
  display:flex;
  font-family: Verdana;
  font-size:14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color:MediumAquamarine;
}

header nav {
  display: flex;
  padding-right: 40px;
}
nav span {
    display: inline-block;
    padding: 20px 10px;
}
div {
  border: solid;
}
.content{
  display: flex;
  padding-top: 116px;

}
.column {
  display: flex;
  margin-right: 32px;
  flex-direction: column;
}
.column.large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
  display: flex;
}

.column.small {
  width: 240px;
  display: flex;
}
