header {
  display:flex;
  font-family: Verdana;
  font-size:14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color:MediumAquamarine;
}

header nav {
  display: flex;
  padding-right: 40px;
}
nav span {
    display: inline-block;
    padding: 20px 10px;
}
div {
  border: solid;
}
.content{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
